# Claude
.claude/
ExportTemplates/Godot_v4.4-stable_export_templates.tpz

# Godot export templates (NO subir nunca)
ExportTemplates/
ExportTemplates/Godot_v4.4-stable_export_templates.tpz

.godot/
.godot/editor/
.godot/imported/
.godot/shader_cache/
.godot/exported/